body {
  background-color: violet;  
}

h1 {
  color: white;
  margin-left: 20px;
}

    
ul {
  color: white;
}
p:hover, h1:hover, a:hover {
  background-color:white;
}
h2 {
  color: black;
  margin-left: 20px;
}
h3 {
  color: black;
  margin-left: 20px;
}
h4 {
  color: black;
  margin-left: 20px;
} 
  

.school a {
  background-color: red
}

#werk a {
  color: white;
}

.Hobbys a {
  color: purple;
}

#nav {
background-color: #336699; 
color: white

}